@font-face {
    font-family: 'bishop'; /*a name to be used later*/
    src: url('./Canterbury.ttf'); /*URL to font*/
}

body {
    background-color: #121212;
    padding:0px;
    margin:0px;
    position: relative;
    overflow-x: hidden;
}

body > h1 {
    font-family:bishop;
    font-size:10vw;
    color: white;
    text-align: center;
    margin-top:20px;
}

h1 > span {
    transition: all .2s ease-in-out;
}

h1 > span:hover {
    color: red;
}

.c-song-list {
    position: absolute;
    right:0;
    top:12vw;
}

.c-song-outer {
    max-width: 100%;
    height: 120px;
    margin-bottom: 12px;
    padding:8px;
    background-color: #171717;
    border:1px solid #292929;
    transition: all .2s ease-in-out;
}

.c-song-outer:hover {
    outline: 1px solid #fff;
    outline-offset: -0px;
    cursor: pointer;
    transform: scale(1.1) translate(-20px, 0px);
}

.c-song-image img {
    max-height:100%;
    max-width:100%;
}

.c-song-image {
    width:160px;
    height:120px;
    text-align: center;
    float: left;
}

.c-song-title {
    color: white;
    font-size:20px;
    font-family:bishop;
    float: right;
    padding-right:20px;
}
